includes:
    - phpstan-baseline.neon
    - ../../vendor/larastan/larastan/extension.neon
    - ../../vendor/nesbot/carbon/extension.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    level: 8
    paths:
        - ../../app
        - ../../bootstrap/app.php
        - ../../config
        - ../../database
        - ../../public
    tmpDir: build/phpstan
